/*****************Polices*****************/

@font-face {
  font-family: "Raleway";
  src: url(../assets/font/Raleway-Medium.ttf);
}

/***********Main elements**********/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Raleway";
  font-size: 15px;
  margin: 0 auto;
  max-width: 1440px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #0065fc;
}

/**************Header***************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 70px;
}

img.logo {
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

nav li {
  min-width: 150px;
  padding: 45px 0px;
  border-top: #ffff solid 2px;
}

nav li:hover {
  border-top: 2px solid #0065fc;
}

nav li:hover > a {
  color: #0065fc;
}

/************** Main ****************/

/*****Section 1 (search bar) *****/
section {
  padding-left: 60px;
  padding-right: 60px;
}

h1 {
  font-size: 20px;
}

form {
  display: flex;
  position: relative;
  height: 45px;
  width: 285px;
  margin-top: 30px;
  line-height: 50px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
}

form i {
  width: 43px;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 50px;
}

input[type="search"] {
  padding: 5px 50px 5px 15px;
  border: 0;
  font-weight: bold;
  color: black;
}

button {
  height: 44px;
  width: 110px;
  padding: 0px 10px;
  margin: -1px;
  font-weight: 500;
  color: white;
  background-color: #0065fc;
  border: solid #0065fc;
  border-radius: 0px 12px 12px 0px;
}
.submit__mobile {
  display: none;
}

/********** Section 1 (filters) *******/

.filters {
  display: flex;
  font-weight: bolder;
  line-height: 35px;
}

h2 {
  display: flex;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  min-width: 52%;
}

.filters li {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-right: 20px;
  margin: 20px 0px 0px 20px;
  border: #f2f2f2 solid 2px;
  border-radius: 25px;
}

.filters li:hover {
  border: #deebff solid 2px;
  background-color: #deebff;
}

.filters li:hover > i {
  color: #ffff;
  background-color: #0065fc;
}

.filters li:hover > a {
  color: #0065fc;
}

.filters i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: -3px;
  width: 45px;
  height: 45px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
}

.filters a {
  padding-left: 10px;
}

.info {
  display: flex;
  margin-top: 20px;
  line-height: 30px;
}

.info i {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 25px;
  width: 25px;
  margin-top: 4px;
  line-height: 18px;
  color: #ffff;
  background-color: #0065fc;
  border: #f2f2f2 solid 4px;
  border-radius: 25px;
}

.info p {
  padding-left: 10px;
}

/********* Section 2 (card) ***********/

.section_2 {
  display: flex;
  justify-content: space-between;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

.bloc-accommodation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 35px;
  min-height: 600px;
  width: 64%;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.bloc-accommodation__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.card-accommodation {
  height: 200px;
  width: 29%;
  min-width: 230px;
  padding: 4px;
  margin: 20px 0px 0px 0px;
  background-color: #ffff;
  box-shadow: 0px 0px 20px rgb(204, 202, 202);
  border-radius: 18px;
}

.card-accommodation__image {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}

.card-accommodation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-hover:hover img {
  width: 120%;
  margin: -1px;
  transition: all 0.5s ease;
}

.card-text--hover a:hover {
  color: #000;
}
.card-accommodation__body {
  display: flex;
  flex-direction: column;
  height: 35%;
  margin-top: 8px;
  padding-left: 10px;
}

.card-accommodation__title {
  font-size: 16px;
  font-weight: bolder;
}

.card-accommodation__core {
  margin-top: 4px;
}

.star {
  display: flex;
  margin-top: auto;
  margin-bottom: 10px;
  color: #0065fc;
}

.inactive-star {
  color: #f2f2f2;
}

.show-more {
  margin-top: 30px;
  font-weight: bolder;
}

/*************** Aside ***************/

aside {
  height: auto;
  width: 33%;
  padding: 40px;
  margin: 20px 0px;
  background-color: #f2f2f2;
  border-radius: 25px;
}

.bloc-popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

.card-popular {
  width: 100%;
  max-width: 360px;
  margin-top: 20px;
  padding: 4px;
  background-color: #ffff;
  box-shadow: 0px 0px 20px rgb(204, 202, 202);
  border-radius: 15px;
}

.card-popular a {
  display: flex;
}

.card-popular img {
  object-fit: cover;
  height: 140px;
  width: 39%;
  border-radius: 15px 0px 0px 15px;
}

.card-popular__body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  padding: 10px 0px 5px 15px;
}

.chart-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-popular:hover {
  width: 110%;
  transition: all 0.5s ease;
}

/********* Section 3 (Activités) ***********/

.section_3 {
  margin: 20px 0px 60px;
}

.section_3 h4 {
  display: flex;
  align-items: center;
  padding: 6%;
}

.bloc-activity {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.card-activity {
  width: 300px;
  margin-top: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgb(204, 202, 202);
}

.card-activity img {
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.card-activity-1 img {
  height: 390px;
}

.card-activity-2 img {
  height: 160px;
}

.card-activity-3 img {
  height: 110px;
}

.card-activity-4 img {
  height: 390px;
}

.card-activity-5 img {
  height: 140px;
}

.card-activity-6 img {
  height: 150px;
}

.card-activity:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.04);
  color: #000;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

/************* Footer ************/

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 200px;
  padding: 40px 30% 30px 60px;
}

footer ul {
  display: flex;
  flex-direction: column;
  line-height: 200%;
}

footer p {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 17px;
}

/************* Responsive Mobile **************/

@media screen and (max-width: 768px) {
  /***** Header (Responsive) *****/

  header {
    flex-direction: column;
    padding: 0;
  }

  .logo {
    margin-left: 35px;
  }
  nav {
    width: 100%;
  }

  nav li {
    width: 100%;
    padding: 30px 0px 15px;
    border-bottom: #f2f2f2 3px solid;
  }

  nav li:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
  }

  /******* Section 1 (Filters-Responsive) ******/

  section {
    padding: 0;
  }

  .section_1 {
    margin-top: 30px;
    padding: 0px 20px 0px 20px;
  }

  button {
    background-color: #fff;
    border: #fff;
  }

  .submit__desktop {
    display: none;
  }

  .submit__mobile {
    display: contents;
  }

  .submit__mobile i {
    position: absolute;
    top: -1.5px;
    right: -20px;
    color: white;
    background-color: #0065fc;
  }

  .filters {
    display: block;
  }

  .filters ul {
    flex-wrap: wrap;
    height: fit-content;
    margin: 10px 0px;
  }

  .filters li {
    margin: 5px 5px 5px 0px;
  }

  /****** Section 2 (Bloc 1 - Responsive) ******/

  .bloc-accommodation__card {
    justify-content: space-around;
  }

  .bloc-accommodation {
    width: 100%;
    padding: 10px;
    background-color: #ffff;
  }

  .card-accommodation {
    width: 100%;
    max-width: 403px;
    padding: 0;
  }

  /***** Section 3 (Activity-Responsive) ******/

  .section_3 {
    padding: 10px;
  }

  .bloc-activity {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .card-activity {
    height: 200px;
    width: 100%;
    max-width: 403px;
    margin-top: 25px;
  }

  .card-activity img {
    height: 65%;
  }

  .column {
    align-items: center;
    width: 100%;
  }

  /************ Footer **************/

  footer {
    flex-direction: column;
    justify-content: space-between;
    min-height: 430px;
    padding-right: 60px;
    padding-left: 20px;
  }
}

/*********** Responsive Tablette ***********/

@media screen and (max-width: 992px) {
  .section_2 {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .bloc-accommodation {
    width: 100%;
    background-color: #fff;
  }

  aside {
    padding: 25px 15px 35px;
    margin: 0;
    width: 100%;
    border-radius: 0px;
  }

  .bloc-popular {
    align-items: center;
  }

  aside h3 {
    margin: 10px;
  }
}
